@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

header {position: fixed;}

#page-wrapper {position: relative;
}

h2 {font-family: Archivo Black;}

p {font-family: Archivo Black;}

.grid {
  display: flex;
}

.nav-ul {
    list-style-type: none;
    margin: none;
  position: fixed;
  top: 0;
  width: 100%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav-li {
    float: right;
  margin-right: 30px;
  margin-top: 15px;
}

.nav-link {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
  font-family: Archivo Black;
}

img {
    float: left;
    width: 100%;
    height: 100%;
    max-width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 0px;
    @media (max-width: 650px) {
      margin: 0 auto;
    }
  }

.logo {float: left;
      font-family: Original Surfer;
      font-size: 65px;
      margin-right: 20px;
      display: block;
      color: white;
      text-align: center;
    }



li a:hover {
    background-color: #111;
}

body {background-color: gold;}

/*Email submit section*/

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

#email-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 250px;
  margin-top: 50px;
  h2 {
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }


  #submit {
    max-width: 150px;
    width: 100%;
    height: 30px;
    margin: 15px 0 50px 0;
    border: 0;
    background-color: #f1c40f;
    }

  @media (max-width: 650px) {
    margin-top: 120px;
  }
}

h1 {
position: relative;
margin-top: 150px;
font-size: 25px;
font-family: Archivo Black;}

.btn {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: auto;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background-color: limegreen;
  cursor: pointer
    }

.input-field
{width: 250px;
height: 40px;
font-size: 20px;}

#spacer {height:100px;}

/*features*/

#features {
  margin-top: 60px;}

.icon {display: flex;
align-items: center;
justify-content: center;
height: 125px;
width: 20vw;
color: purple;}

@media (max-width: 550px) {
      display: none;
    }
}
.desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
    font-family: Archivo Black;
  }



@media (max-width: 550px) {.desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
  }

  @media (max-width: 650px) {
    margin-top: 0;
  }
}

/*Sound Sample Video*/

#sound-sample-video {
  margin-top: 50px;
  display: flex;
  justify-content: center;

  iframe {
    max-width: 560px;
    width: 100%;
  }
}

/*pricing*/

#pricing {
margin-top: 60px;
display: flex;
flex-direction: row;
justify-content: center;}

.pricing-boxes {display: flex;
flex-direction: row;}

#four, #five, #acoustic {
display: flex;
background-color: #ddd;
flex-direction: column;
align-items: center;
text-align: center;
width: calc(100%  / 3);
margin: 30px;
border: 1px solid #000;
border-radius: 3px;}

.level {background-color: grey;
color: black;
padding: 15px 0;
width: 100%;
text-transform: uppercase;
font-family: Archivo Black;
font-weight: 700;}

h2 {
      margin-top: 15px;
    }

    ol {
      margin: auto;
      list-style-type: none;
      display: flex;


      .pricing-li {padding: 55px 0;
        font-family: Lato;
        display: flex;
      }
    }

.pricing-ol {
  display: flex;
  font-family: Lato;
  flex-direction: column;
}

    button {
      margin-top: 30px;
  margin-bottom: 30px;
  padding: auto;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background-color: limegreen;
  cursor: pointer;

      &:hover {
        background-color: orange;
        transition: background-color 1s;
      }
    }
  }

 @media (max-width: 800px) {
    flex-direction: row;

    #four, #five, #acoustic {max-width: 300px; width: 100%; margin: 0 auto; margin-bottom: 10px;}
  }
}

/*footer*/

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;}

  .footer-ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    }

    .footer-li {
      padding: 0 10px;
    }


  span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    color: #444;
  }
